/* цвет заголовков #212121 */
/* цвет текста   #757575; */
/* белый #FFFFFF  */
/* вторичный цвет фона #F5F4FA; */
/* акцент #2196F3 */
/* цвет фона Героя #2F303A */

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --primary-black-color: #000;
  --second-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --accent-color: #2196f3;
  --opasity-white-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* Header */
/* Navi */
/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.h-studio {
  color: var(--primary-black-color);
}

/* Navi links*/
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* mail, tel */
.h-mail-tel {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.h-mail-tel:hover,
.h-mail-tel:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--primary-white-color);
  background-color: var(--dark-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Button */
.button {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Sections */
.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.feature-list .title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: bold;
  text-transform: uppercase;
}
.team-section {
  background-color: var(--second-background-color);
}
.team-list {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list .title {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
}

/* Footer */
footer {
  color: var(--primary-white-color);
  background-color: var(--dark-background-color);
}
address {
  font-style: normal;
}
.f-studio {
  color: var(--primary-white-color);
}
.f-mail-tel {
  color: var(--opasity-white-color);
  text-decoration: none;
}
.f-mail-tel:hover,
.f-mail-tel:focus {
  color: var(--accent-color);
}

/* Portfolio styles */

/* Portfolio filter */
.port-button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.port-button:hover,
.port-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Portfolio set */
.portfolio-list {
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;
}
.portfolio-list .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
